/* CSS for Blood Donation Application Form */

/* Body Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

/* Center Alignment */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Form Styles */
form {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 400px;
}

h1 {
  text-align: center;
  margin-top: 0;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: flex;
  margin-bottom: 5px;
  font-weight:Bold;
}

input[type="text"],
input[type="date"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

/* Additional Details Styles */
#additional-details {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

/* Responsive Styles */
@media screen and (max-width: 480px) {
  form {
    width: 100%;
  }
}
.photos {
  display: flex;
  justify-content: center;
  margin-top: -90px;
  margin-bottom: -30px;
}

.photo {
  width: 20px;
  height: 20px;
  background-color: #ccc;
  margin: 10px;
}
